/*
  KEY POSITIONS
  Copied (modified) from https://github.com/caksoylar/zmk-config

  ╭────────────────────────╮  ╭────────────────────────╮
  │ 0   1   2   3   4   5  │  │ 6   7   8   9   10  11 │
  │ 12  13  14  15  16  17 │  │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │  │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │  │ 39  40  41 ╭───────────╯
              ╰────────────╯  ╰────────────╯
*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define COMBO_TERM_DEFAULT 30

/ {
  combos {
    compatible = "zmk,combos";

    /* Layers */
    COMBO(to_2, &to L2, 38 39, L1, COMBO_TERM_DEFAULT)
    COMBO(to_3, &to L3, 36 41, L1, COMBO_TERM_DEFAULT)
    // COMBO(lm_2_shift, &lm L2 LSHFT, 39 40, L1, COMBO_TERM_DEFAULT)

    /* Whitespace */
    // Left
    // COMBO(esc, &kp ESC, 2 3, L1 L2, COMBO_TERM_DEFAULT)
    // COMBO(backspace, &kp BACKSPACE, 13 14, L1 L2, COMBO_TERM_DEFAULT)
    COMBO(tab, &kp TAB, 15 16, L1 L2, COMBO_TERM_DEFAULT)
    COMBO(shift_tab, &kp LS(TAB), 16 17, L1 L2, COMBO_TERM_DEFAULT)
    // COMBO(delete, &kp DELETE, 16 17, L1 L2, COMBO_TERM_DEFAULT)
    // Right
    // COMBO(enter, &kp ENTER, 19 20, L1 L2, COMBO_TERM_DEFAULT)

    /* Symbols */
    // Left
    COMBO(excl, &kp EXCL, 1 13, L1, COMBO_TERM_DEFAULT)
    COMBO(at, &kp AT, 2 14, L1, COMBO_TERM_DEFAULT)
    COMBO(hash, &kp HASH, 3 15, L1, COMBO_TERM_DEFAULT)
    COMBO(dollar, &kp DOLLAR, 4 16, L1, COMBO_TERM_DEFAULT)
    COMBO(percent, &kp PERCENT, 5 17, L1, COMBO_TERM_DEFAULT)
    COMBO(caret, &kp CARET, 13 25, L1, COMBO_TERM_DEFAULT)
    COMBO(ampersand, &kp AMPERSAND, 14 26, L1, COMBO_TERM_DEFAULT)
    COMBO(star, &kp STAR, 15 27, L1, COMBO_TERM_DEFAULT)
    COMBO(lpar, &kp LPAR, 16 28, L1, COMBO_TERM_DEFAULT)
    COMBO(rpar, &kp RPAR, 17 29, L1, COMBO_TERM_DEFAULT)
    // Right
    COMBO(minus, &kp MINUS, 7 19, L1, COMBO_TERM_DEFAULT)
    COMBO(equal, &kp EQUAL, 8 20, L1, COMBO_TERM_DEFAULT)
    COMBO(grave, &kp GRAVE, 6 18, L1, COMBO_TERM_DEFAULT)
    COMBO(lbkt, &kp LBKT, 18 30, L1, COMBO_TERM_DEFAULT)
    COMBO(rbkt, &kp RBKT, 19 31, L1, COMBO_TERM_DEFAULT)
    COMBO(semi, &kp SEMI, 20 32, L1, COMBO_TERM_DEFAULT)
    COMBO(backslash, &kp BACKSLASH, 21 33, L1, COMBO_TERM_DEFAULT)

    /* Bluetooth */
    COMBO(bt_clear, &bt BT_CLR, 1 2 3 4, L3, COMBO_TERM_DEFAULT)
    COMBO(bt_sel_0, &bt BT_SEL 0, 1 13, L3, COMBO_TERM_DEFAULT)
    COMBO(bt_sel_1, &bt BT_SEL 1, 2 14, L3, COMBO_TERM_DEFAULT)
    COMBO(bt_sel_2, &bt BT_SEL 2, 3 15, L3, COMBO_TERM_DEFAULT)
    COMBO(bt_sel_3, &bt BT_SEL 3, 4 16, L3, COMBO_TERM_DEFAULT)
    COMBO(bt_sel_4, &bt BT_SEL 4, 5 17, L3, COMBO_TERM_DEFAULT)

    /* Media */
    COMBO(mute, &kp C_MUTE, 7 8, L1 L2, COMBO_TERM_DEFAULT)
    COMBO(play, &kp C_PP, 8 9, L1 L2, COMBO_TERM_DEFAULT)

    /* Fn Keys */
    // COMBO(f2, &kp F2, 18 19, L1, COMBO_TERM_DEFAULT)
    // COMBO(f12, &kp F12, 30 31, L1, COMBO_TERM_DEFAULT)

    /* System */
    // COMBO(brightness, &brightness, 10 11, L1, COMBO_TERM_DEFAULT)
    COMBO(sys_reset_l, &sys_reset, 14 26, L3, COMBO_TERM_DEFAULT)
    COMBO(bootloader_l, &bootloader, 17 29, L3, COMBO_TERM_DEFAULT)
    // Right
    COMBO(bootloader_r, &bootloader, 18 30, L3, COMBO_TERM_DEFAULT)
    COMBO(sys_reset_r, &sys_reset, 21 33, L3, COMBO_TERM_DEFAULT)
  };
};
