/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#define LHYP LS(LC(LA(LCMD)))
#define RHYP RS(RC(RA(RCMD)))

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        // zmk,matrix-transform = &default_transform;
        zmk,matrix-transform = &five_column_transform;
    };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "ALPHA";
            // --------------------------------------------------------------------------------
            // |  Q  |  W  |  F  |  P  |  B  |                                 |  J  |  L   |  U  |  Y  |  '  |
            // |  A  |  R  |  S  |  T  |  G  |                                 |  M  |  N   |  E  |  I  |  O  |
            // |  Z  |  X  |  C  |  D  |  V  |                                 |  K  |  H   |  ,  |  .  |  /  |
            //             | ESC | SPC | TAB |                                 | ENT | BKSP | DEL |
            bindings = <
                &kp Q       &kp W      &kp F      &kp P       &kp B             &kp J      &kp L       &kp U      &kp Y      &kp SQT
                &hm LCTRL A &hm LALT R &hm LCMD S &hm LSHFT T &hm LHYP G        &hm RHYP M &hm RSHFT N &hm RCMD E &hm RALT I &hm RCTRL O
                &kp Z       &kp X      &kp C      &kp D       &kp V             &kp K      &kp H       &kp COMMA  &kp DOT    &kp FSLH
                                       &kp ESC    &lt 3 SPACE &lt 4 TAB         &lt 2 RET  &lt 1 BSPC  &lt 5 DEL
            >;
        };

        num_layer {
            display-name = "NUMBER";
            // ---------------------------------------------------------------------------------
            // |  `  |  7  |  8  |  9  |  \  |                |     |       |     |     |      |
            // |  [  |  4  |  5  |  6  |  ]  |                | HYP | SHFT  | CMD | OPT | CTRL |
            // |     |  1  |  2  |  3  |  ;  |                |     |       |     |     |      |
            //             |  -  |  0  |  =  |                |     | ALPHA |     |
            bindings = <
                &kp GRAVE &kp N7 &kp N8 &kp N9 &kp BSLH        &none    &none     &none    &none    &none
                &kp LBKT  &kp N4 &kp N5 &kp N6 &kp RBKT        &kp RHYP &kp RSHFT &kp RCMD &kp RALT &kp RCTRL
                &none     &kp N1 &kp N2 &kp N3 &kp SEMI        &none    &none     &none    &none    &none
                                 &kp MINUS &kp N0 &kp EQUAL    &none    &to 0     &none
            >;
        };

        sym_layer {
            display-name = "SYMBOL";
            // ------------------------------------------------------------------------------------------
            // |  ~  |  &  |  *  |  (  | '|' |                        |       |      |     |     |      |
            // |  {  |  $  |  %  |  ^  |  }  |                        |  HYP  | SHFT | CMD | OPT | CTRL |
            // |     |  !  |  @  |  #  |  :  |                        |       |      |     |     |      |
            //             |  _  |  )  |  +  |                        | ALPHA |      |     |
            bindings = <
                &kp TILDE &kp AMPS &kp ASTRK &kp LPAR  &kp PIPE        &none    &none     &none    &none    &none
                &kp LBRC  &kp DLLR &kp PRCNT &kp CARET &kp RBRC        &kp RHYP &kp RSHFT &kp RCMD &kp RALT &kp RCTRL
                &none     &kp EXCL &kp AT    &kp HASH  &kp COLON       &none    &none     &none    &none    &none
                                   &kp UNDER &kp RPAR  &kp PLUS        &to 0    &none     &none
            >;
        };

        nav_layer {
            display-name = "NAV";
            // ------------------------------------------------------------------------------------------
            // |     |      |     |       |      |               | REDO | PASTE | COPY |  CUT  | UNDO   |
            // | HYP | SHFT | CMD |  OPT  | CTRL |               | LEFT | DOWN  |  UP  | RIGHT | CAPWRD |
            // |     |      |     |       |      |               | HOME | PGDN  | PGUP |  END  |  INS   |
            //              |     | ALPHA |      |               |      |       |      |
            bindings = <
                &none    &none     &none    &none    &none        &kp K_REDO &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO
                &kp LHYP &kp LSHFT &kp LCMD &kp LALT &kp LCTRL    &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT &caps_word
                &none    &none     &none    &none    &none        &kp HOME   &kp PG_DN   &kp PG_UP  &kp END   &kp INS
                                   &none    &to 0    &none        &none      &none       &none
            >;
        };

        media_layer {
            display-name = "MEDIA";
            // -----------------------------------------------------------------------------------------
            // |     |      |     |     |       |                |  BT 1  | BT 2  | BT 3 | BT 4 | BT 5 |
            // | HYP | SHFT | CMD | OPT | CTRL  |                | BT CLR | PREV  | VOL- | VOL+ | NEXT |
            // |     |      |     |     |       |                |        |       |      |      |      |
            //              |     |     | ALPHA |                |  STOP  | PAUSE | MUTE |
            bindings = <
                &none    &none     &none    &none    &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &kp LHYP &kp LSHFT &kp LCMD &kp LALT &kp LCTRL    &bt BT_CLR   &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
                &none    &none     &none    &none    &none        &none        &none        &none        &none        &none
                                   &none    &none    &to 0        &kp C_STOP   &kp C_PP     &kp C_MUTE
            >;
        };

         fn_layer {
            display-name = "FN";
            // -------------------------------------------------------------------------
            // | F12 | F7 | F8 | F9 |    |             |     |      |     |     |      |
            // | F11 | F4 | F5 | F6 |    |             | HYP | SHFT | CMD | OPT | CTRL |
            // | F10 | F1 | F2 | F3 |    |             |     |      |     |     |      |
            //            |    |    |    |             |     |      | ALPHA |
            bindings = <
                &kp F12 &kp F7 &kp F8 &kp F9 &none      &none    &none     &none    &none    &none
                &kp F11 &kp F4 &kp F5 &kp F6 &none      &kp RHYP &kp RSHFT &kp RCMD &kp RALT &kp RCTRL
                &kp F10 &kp F1 &kp F2 &kp F3 &none      &none    &none     &none    &none    &none
                               &none  &none  &none      &none    &none     &to 0
            >;
        };
    };
};
